section{
    margin-top: 5rem !important;
    max-width: 900px !important;
    padding: 20px;
    border-radius: 10px;
}


 .input-field label {
    color: #888 !important;
  }
  /* label focus color */
  .input-field input[type=password]:focus + label {
    color: #888 !important;
  }
  /* label underline focus color */
  .input-field input[type=password]:focus {
    border-bottom: 1px solid #888 !important;
    box-shadow: 0 1px 0 0 #888 !important;
  }
  /* valid color */
  .input-field input[type=password].valid {
    border-bottom: 1px solid #888 !important;
    box-shadow: 0 1px 0 0 #888 !important;
  }
  /* invalid color */
  .input-field input[type=password].invalid {
    border-bottom: 1px solid #888 !important;
    box-shadow: 0 1px 0 0 #888 !important;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #888 !important;
  }