* {
  margin: 0;
  padding: 0;
}
body {
  background-color:#333;
  background-size: cover;
	font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif,aclonica;
  font-size:14px;
	color:white;
}
.h3 {
  font-family: "aclonica";
  font-size: 120px;
}

hr{
  border: 1px solid ;
  max-width: 60%;
  margin: 0 auto;
}
