::-webkit-scrollbar{
    width: 0;
    height: 0;
    background-color: transparent;
}

body{
    background-color:#333;
    color: rgb(220, 220, 220);
}   

h2{
    margin: 1rem 0 2.5rem ;
    text-align: center;
}

hr{
    margin: 1rem auto;
    max-width: 60%;
    border: 1px solid #757575;
}

.contenedor{
    display: flex; 
    flex-direction: row; 
    max-width: 1200px; 
    margin: 0 auto !important;
}

li a {
    color: aliceblue !important;
}


li{
    transition: 0.25s;
}
li:hover{
    color: #333!important;
    background-color: #333!important;
    transition: 0.25s;

}

.tarjetas{
    border-radius: 10px;
    transition: 0.5s ease;
    margin: 0 auto;
    padding: 4px 2rem !important;
    display: flex;
    text-align: center;
    justify-content: center;
    height: auto;
    width: 30%;
    
}

.tarjetas span{
    width: 100%;
    padding: 5px;
    

}

/* .truncate {
    display: -webkit-box;       
    -webkit-box-orient: vertical; 
    overflow: hidden;            
    text-overflow: ellipsis;      
    -webkit-line-clamp: 5;   
*/


.tarjetas:hover{
    background-color:rgb(59, 59, 59) !important;
    transition: 0.5s ease;
    color: #ffffff;
    transform: scale(1.1);}

.boton{
    max-width:10rem;
    margin: 0rem auto 15rem auto !important;
    display: flex !important;
    position: relative ;
    z-index: 2;
}

nav{
    z-index: 3;
}

.contenedor_tarjetas{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1024px;
    padding: 50px;
}


.contenido{
    max-width: 900px; 
    padding: 1px; 
    overflow: hidden; 
    overflow-y: scroll; 
    height: 80dvh; 
    border-radius:10px;
}

footer{
    border: 2px solid #333;
}

.scroll_lateral{
    padding: 10px;
    text-align: center;
    width: 15%;
    height: 80dvh;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0 auto;
    border-radius:  10px; 
}

.scroll_lateral ul{
    border: none !important;
}

.scroll_lateral ul li{
    padding: 10px;
    height: 3rem;
}


p{
    font-size: 0.7rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

p:hover{
    display: flex;
    -webkit-line-clamp: none;
    -webkit-box-orient: none;  
    overflow: none;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

td,th{
    text-align: center !important;
}

td{
    transition: 0.5s;
}

td:hover{
    background-color: rgb(59, 59, 59) !important;
    transition: 0.5s ease;
    transform: scale(1.1);
}

.iconos_descarga{
    text-decoration: none;
    color: aliceblue;
    transition: 0.25s;
}

.iconos_descarga:hover{
    color: #757575;
    transition: 0.25s;
}



